.attendance-report {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.attendance-report h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 420px; /* Change to a smaller percentage to control input length */
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.input-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #093e77;
    color: white;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #04526b;
}

.date-range {
    display: flex;
    justify-content: flex-start; /* Align items to start */
    margin-right: 20px; /* Margin to move the entire date range right */
}

.date-range input {
    width: 120px; /* Set a specific width for date inputs */
    margin-right: 30px; /* Space between start and end date inputs */
}

.attendance-list {
    display: flex;
    flex-direction: column;
}

.attendance-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.attendance-item:last-child {
    border-bottom: none;
}

.attendance-item.present {
    background-color: #e0ffe0;
}

.attendance-item.absent {
    background-color: #ffe0e0;
}
