/* Full-page flex container for centering */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Styling for the login container */
.login-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid #f0f0f0;
  background-color: #e7ff6e;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;

}

/* Rest of your form styling */

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 380px;
  transition: background-color 0.3s ease;
  
}

.login-button:hover {
  background-color: #0056b3;
}

.input-text {
  width: 100%; /* Set this to your desired width, e.g., 100% or 300px */
  max-width: 362px; /* Maximum width if you'd like to limit it */
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-text:focus {
  border-color: #007bff;
}

.login-container {
  max-width: 400px; /* Sets a maximum width for the form container */
  margin: 0 auto;
}
