/* SubmitTicket.css */

.submit-ticket-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f2e4e0;
}

.submit-ticket-form {
    display: flex;
    flex-direction: column;
}

.submit-ticket-form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.submit-ticket-form input,
.submit-ticket-form textarea {
    padding: 10px;
    border: px solid #000000;
    border-radius: 4px;
    font-size: 14px;
}

.submit-ticket-form textarea {
    resize: vertical;
    height: 100px;
}

.issue-type-container {
    margin: 10px 0;
}

.issue-type-container label {
    display: block;
    margin: 0px 0;
}

.submit-ticket-form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d86737;
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.submit-ticket-form button:hover {
    background-color: #f79f7a;
}

/* SubmitTicket.css */

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d86737;
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.back-button:hover {
    background-color: #d86737;
}
